* {
  box-sizing: border-box;
}

::selection {
  background-color: lighten($clr1, 20%);
  color: $clr6;
}


html {
  font-family: lato, sans-serif;
  background-image: url('@/assets/imgs/background.jpg');
 
}

body {
  margin: 0;
  padding: 0;
  color: $clr6;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

