.signup-view {
  form {
    line-height: 2;
    margin-top: 100px;

    label {
      font-size: 18px;
    }

    input {
      background-color: $clr3;
      color: $clr6;
      font-size: 17px;
      font-family: inherit;
      padding: 10px;
      margin-bottom: 10px;
      width: 30%;
      border: none;
      border-radius: 12px;
    }

    button {
      background-color: $clr1;
      padding: 5px 20px;
      font-family: inherit;
      font-size: 17px;
      color: $clr6;
      border: none;
      border-radius: 12px;
      cursor: pointer;

      &:hover {
        background-color: lighten($clr1, 10%);
      }
    }
  }
}
